.Main__controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  font-size: 12px;
}

.Main__controls label {
  display: block;
}

.Main__bglabel {
  margin-top: 10px;
}

.Main__checkboxwrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
